@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", "Arial";
}

.container{
    width: 1110px;
    margin: 0 auto;
}

/* Шапка */

.first-screen{
    min-height: 100vh;
    width: 100%;
    background: url("../img/main-bg.jpg") no-repeat;
    background-size: cover;
    margin-bottom: 150px;
}

.header{
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 91, 193, 0.6);
    min-height: 80px;
    display: flex;
    align-items: center;
}

.header__content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo{
    cursor: pointer;
}

.header__logo{
    top: 10px;
    left: 40px;
    width: 140px;
    position: absolute;
}

.nav{
    margin: 0 auto;
}

.nav__item{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.nav__item:not(:last-child){
    margin-right: 25px;
}

/* Приветствующий блок */

.greeting-block{
    margin: 0 auto;
    /* height: 93vh; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.greeting-block__content{
    width: 635px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -25%;
    z-index: 1;
}

.greeting-block__content > *:not(:last-child){
    margin-bottom: 40px;
}

.greeting-block__heading{
    font-size: 48px;
    font-family: 'Oswald', 'Open Sans', 'Arial';
    color: #fff;
    font-weight: 400;
}

.blue-block{
    background-color: rgba(0, 91, 193, 0.6);
    width: 50%;
    height: calc(100vh - 80px);
}

.greeting-block__subtitle{
    font-size: 16px;
    color: #fff;
}

.greeting-block__btn{
    cursor: pointer;
    padding: 15px 40px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
}

/* слайдер */

.slider{
    margin-bottom: 150px;
}

.ctrl-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
}

.title-block{
    display: flex;
    align-items: center;
}

.title-block__burger-img{
    width: 100px;
    margin-right: 40px;
}

.title-block__heading{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Oswald', 'Open Sans', 'Arial';
    font-weight: 400;
}

.arrows-block{
    display: flex;
}

.arrows-block__arrow{
    border: 2px solid #005BC1;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrows-block__arrow:first-child{
    border-right: 1px solid #005BC1;;
}

.arrows-block__arrow:last-child{
    border-left: 1px solid #005BC1;;
}

.arrow-img{
    width: 17px;
}

.arrow__right-arrow{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.slider__slides-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.slides-block__slide{
    width: 540px;
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.slides-block__slide::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.slide1{
    background: url(../img/slides/slide1.jpg);
    background-size: cover;
}

.slide2{
    background: url(../img/slides/slide2.jpg);
    background-size: cover;
}

.slide-text-block{
    width: 250px;
    background-color: #fff;
    padding: 20px 25px;
    z-index: 2;
    margin: 35px;
}

.slide-text-block__heading{
    font-family: "Oswald", 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    color: #343434;
    margin-bottom: 14px;
}

.slide-text-block__subtitle{
    font-size: 14px;
    color: #343434;
}

/* Каталог */

.catalog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.catalog__title-block{
    margin-bottom: 70px;
    align-self: flex-start;
}

.catalog__categories{
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.categories__item{
    font-family: "Oswald", "Open Sans";
    font-size: 24px;
    font-weight: 400;
    color: #343434;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 50px;
}

.categories__item:last-child{
    margin-right: 0;
}

.active-category{
    color: #005BC1;
}

.active-category::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #005BC1;
    margin-top: 5px;
}

.categories-imgs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.categories-imgs__category-img{
    width: 350px;
    height: 300px;
    background-size: cover;
    border: 3px solid #005BC1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
}

.category-img1{
    background: url(../img/catalog/catalog1.png);
}

.category-img2{
    background: url(../img/catalog/catalog2.png);
}

.category-img3{
    background: url(../img/catalog/catalog3.png);
}

.category-block{
    background-color: #005BC1;
    width: 265px;
    min-height: 86px;
    padding: 15px 0px 15px 21px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.category-block__title{
    font-family: "Oswald", "Open Sans";
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

/* Блок аренды оборудования */

.rent-block{
    margin-bottom: 110px;
}

.rent-block__title-block{
    margin-bottom: 40px;
}

.main-rent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-rent__text{
    font-weight: 300;
    font-size: 18px;
    color: #343434;
    line-height: 25px;
    flex-basis: 30%;
}

.equipment-rent-block{
    border: 3px solid #005BC1;
    padding: 30px;
    flex-basis: 65%;
}

.equipment-top-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.equipment-top-part__heading{
    font-family: "Oswald", "Open Sans";
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #343434;
}

.equipment-rent-block__equipment-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.equipment-info__img{
    width: 255px;
    height: 250px;
    object-fit: cover;
}

.equipment-info__text-info{
    color: #343434;
}

.text-info__equipment-name{
    font-family: "Oswald", "Open Sans";
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.equip-characteristics__charasteristic{
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 30px;
}

.equip-characteristics__charasteristic:last-child{
    margin-bottom: 0;
}

/* Новости */

.news{
    margin-bottom: 120px;
}

.news-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.news-top__button{
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    padding: 15px 34px;
    border: none;
    background-color: #005BC1;
    cursor: pointer;
}

.all-news{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 242px;
}

.all-news__main-news{
    display: flex;
    align-items: center;
    flex-basis: 50%;
    justify-content: space-between;
    /* width: 700px; */
}

.main-news__main-news-text{
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-img{
    object-fit: cover;
}

.news-img__picture{
    object-fit: cover;
}

.main-news__img{
    height: 100%;
    width: 255px;
    margin-right: 30px;
}

.main-news-text__news-title-date{
    display: flex;
    justify-content: space-between;
}

.news-title{
    text-transform: uppercase;
    font-family: "Oswald", "Open Sans";
    font-weight: 400;
    font-size: 18px;
    color: #343434;
    margin-bottom: 20px;
}

.main-news-title-date__title{
    margin-bottom: 0;
}

.news-date{
    font-weight: 600;
    font-size: 14px;
    color: #979797;
}

.news-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
}

.all-news__small-news{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.news-body__read-more{
    font-size: 14px;
    color: #343434;
}

.all-news__small-news{
    flex-basis: 20%;
    height: 100%;
}

.small-news__img{
    width: 128px;
    height: 115px;
    margin-right: 25px;
}

.small-news__img-date-part{
    display: flex;
    align-items: flex-end;
}

.footer{
    width: 100%;
    background-color: #005BC1;
    padding: 35px 0 25px;
    color: #fff;
}

.footer__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-contacts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

/* .foot-contacts::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
} */

.foot-contacts__contact{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.foot-contacts__phone{
    font-family: "Oswald", "Open Sans";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

.foot-links{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    align-self: flex-start;
    padding: 25px 0px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 25px;
}

.foot-links__link{
    text-decoration: none;
}

.footer-text{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}

.foot-copyright{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}